.root {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: solid 1px #39D353;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #FBFFFB;
  transform: translateY(-20px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.root:hover {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  transform: translateY(-30px);
}
.root_active {
  background-color: #39D353;
}
