.root {
  position: absolute;
  z-index: 2;
  border: none;
  border-radius: 8px;
  background-color: #FBFFFB;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 270px;
  display: flex;
  flex-direction: column;
  color: #0A260F;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resolveButton {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.paddingContainer {
  padding: 16px;
}
.comment:not(:first-child) {
  margin-top: 8px;
}
.comment__time {
  color: #D4D4D4;
}
.comment_text {
  white-space: pre-wrap;
}
.divider {
  background-color: #D4D4D4;
  height: 1px;
}
.inputField {
  border: none;
  background: transparent;
  resize: none;
  flex-grow: 1;
  outline: none;
}
.buttonsRow {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.button_default {
  box-sizing: content-box;
  margin-left: 8px;
  min-width: 42px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.3s;
}
.button_primary {
  border: none;
  background-color: #39D353;
  color: #FBFFFB;
}
.button_secondary {
  border: solid 1px #0A260F;
  background-color: transparent;
  color: #0A260F;
}